mat-card {
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.card-container-form {
  margin: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-container-form>* {
  flex: 1;
}

.card-content-column {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

.create {
  background-color: #3a515d;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}
