:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-grid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.card-grid > * {
  flex: 0;
  width: 27em;
}
